@mixin pieceBefore($top) {
    content: "";
    position: absolute;
    top: $top;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}


@mixin piece($team, $piece, $extraHeight) {
    .piece[team=#{"" + $team}][piece=#{$piece}] {
        position: relative;
        display: block;
        &:before {
            background-image: url('/assets/pieces_3d_basic/#{$team}-#{$piece}.png');
            color: $team;
            pointer-events: none;
            @include pieceBefore($extraHeight);
        }
    }
}
@mixin pieceFlipped($team, $piece, $extraHeight) {
    .piece.flipped[team=#{"" + $team}][piece=#{$piece}] {
        position: relative;
        display: block;
        &:before {
            background-image: url('/assets/pieces_3d_basic/#{$team}-#{$piece}-flipped.png');
            color: $team;
            @include pieceBefore($extraHeight);
        }
    }
}
@mixin team($team, $extraHeight) {
    @include piece($team,elephant, $extraHeight);
    @include piece($team,horse, $extraHeight);
    @include pieceFlipped($team,horse, $extraHeight);
    @include piece($team,camel, $extraHeight);
    @include pieceFlipped($team,camel, $extraHeight);
    @include piece($team,king, $extraHeight);
    @include piece($team,queen, $extraHeight);
    @include piece($team,pyada, $extraHeight);
}


:host {
    .board {
        display: flex;
        flex-direction: column;
        --side: min(100vh, 100vw);
        --padding: 50px;
        height: calc(var(--side) - var(--padding) * 2);
        width: calc(var(--side) - var(--padding) * 2);
        padding: var(--padding);
        margin: auto;
        .board-row {
            flex: 1;
            display: flex;
            flex-direction: row;
            border-left: 10px rgba(black, 0.8) solid;
            border-right: 10px rgba(black, 0.8) solid;
            &:nth-child(odd) {
                app-block {
                    &:nth-child(odd) {
                        background-color: rgba($color: white, $alpha: 0.2);
                    }
                    &:nth-child(even) {
                        background-color: rgba($color: black, $alpha: 0.4);
                    }
                }
            }
            &:nth-child(even) {
                app-block {
                    &:nth-child(odd) {
                        background-color: rgba($color: black, $alpha: 0.4);
                    }
                    &:nth-child(even) {
                        background-color: rgba($color: white, $alpha: 0.2);
                    }
                }
            }
            app-block {
                flex: 1;
                &.touched {
                    background-color: gray !important;
                }
                &.target {
                    position: relative;
                    display: block;
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 50%;
                        width: 50%;
                        margin: 25%;
                        background: gray;
                        border: darkgray 1px solid;
                        border-radius: 50%;
                    }
                }
                &.checked {
                    background-color: red !important;
                }
            }
            &:first-child {
                border-top: 10px rgba(black, 0.8) solid;;
            }
            &:last-child {
                border-bottom: 10px rgba(black, 0.8) solid;
            }
        }
        @include team(black, -25%);
        @include team(white, -25%);
    }
    
}

:host .prompt-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .prompt {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.3);
        flex-wrap: wrap;
        box-shadow: 5px 5px grey;
        app-block {
            width: calc(50% - 2px);
            border: 1px solid black;
            cursor: pointer;
        }
        @include team(black, 0);
        @include team(white, 0);
    }
}
.game-ended {
    text-align: center;
    top: 0;
    bottom: 0;
    z-index: 12;
    background: white;
    box-shadow: 5px 5px black;
    width: 98%;
    margin: auto;
}