<div class="board" *ngIf="!!boardInfo">
    <div class="board-row" *ngFor="let row of boardInfo; index as ri">
        <app-block [class.checked]="cell === blockInCheck" [class.target]="isBlockInSuggestedTargets(cell)"
            [class.touched]="suggestingFor === cell" (click)="suggestOrMove(cell)"
            [class.flipped]="!!cell.piece && cell.piece.team === boardInfo.teamAtTop" [style.zIndex]="ri"
            title="({{ri}},{{ci}})" [rowIndex]="ri" [columnIndex]="ci" [piece]="cell.piece"
            *ngFor="let cell of row; index as ci"></app-block>
    </div>
</div>
<div class="prompt-wrap" *ngIf="!!promotableTo">
    <div class="prompt">
        <app-block (click)="onPromptSelection(piece)" [piece]="piece" *ngFor="let piece of promotableTo"></app-block>
    </div>
</div>
<div class="prompt-wrap" *ngIf="!!gameEndResult || !boardInfo">
    <div class="game-ended">
        <h1 *ngIf="!!boardInfo">
            <ng-container *ngIf="gameEndResult === 'draw'">
                Game Draw
            </ng-container>
            <ng-container *ngIf="gameEndResult !== 'draw'">
                {{ gameEndResult | titlecase }} Wins
            </ng-container>
        </h1>
        <h1 (click)="resetGameState()">
            {{boardInfo ? 'Restart' : 'Start'}} Game locally
        </h1>
        <h1 (click)="startRemoteGame()">
            <ng-container *ngIf="!partnerRequested"> {{boardInfo ? 'Restart' : 'Start'}} remote Game</ng-container>
            <ng-container *ngIf="partnerRequested"> Please wait searching partner...</ng-container>
        </h1>

    </div>
</div>