


:host .board-wrap {
    position: relative;
    --side: min(100vh, 100vw);
    --padding: 50px;
    --border-width: 10px;
    .center {
        height: calc(var(--side) - var(--padding) * 2);
        width: calc(var(--side) - var(--padding) * 2);
        padding: var(--padding);
        margin: auto;
    }
    .board {
        display: flex;
        flex-direction: column;
        .board-row {
            flex: 1;
            display: flex;
            flex-direction: row;
            border-left: var(--border-width) rgba(black, 0.8) solid;
            border-right: var(--border-width) rgba(black, 0.8) solid;
            &:nth-child(odd) {
                app-block {
                    &:nth-child(odd) {
                        background-color: rgba($color: white, $alpha: 0.2);
                    }
                    &:nth-child(even) {
                        background-color: rgba($color: black, $alpha: 0.4);
                    }
                }
            }
            &:nth-child(even) {
                app-block {
                    &:nth-child(odd) {
                        background-color: rgba($color: black, $alpha: 0.4);
                    }
                    &:nth-child(even) {
                        background-color: rgba($color: white, $alpha: 0.2);
                    }
                }
            }
            app-block {
                flex: 1;
                &.touched {
                    background-color: gray !important;
                }
                &.target {
                    position: relative;
                    display: block;
                    z-index: var(--row-index);
                    &:after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 50%;
                        width: 50%;
                        margin: 25%;
                        background: gray;
                        border: darkgray 1px solid;
                        border-radius: 50%;
                    }
                }
                &.checked {
                    background-color: red !important;
                }
            }
            &:first-child {
                border-top: var(--border-width) rgba(black, 0.8) solid;;
            }
            &:last-child {
                border-bottom: var(--border-width) rgba(black, 0.8) solid;
            }
        }
    }
    .piece-layer-wrap {
        position: absolute;
        top:0;
        left: 0;
        right: 0;
        bottom: 0;
        --padding: 60px;
        pointer-events: none;
        app-piece {
            position: absolute;
            top: 60px;
            left: 60px;
            --piece-side: calc(calc(var(--side) - var(--padding) * 2)/8);
            width: var(--piece-side);
            transform: translate(calc(var(--piece-side) * var(--col-index, 0)), calc(var(--piece-side) * calc(var(--row-index, 0) - 0.15) )); 
            transition: transform 1s;
        }
    }
}



:host .prompt-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .prompt {
        display: flex;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        background-color: rgba(255, 255, 255, 0.3);
        flex-wrap: wrap;
        box-shadow: 5px 5px grey;
        app-block {
            width: calc(50% - 2px);
            border: 1px solid black;
            cursor: pointer;
        }
    }
}
.game-ended {
    text-align: center;
    top: 0;
    bottom: 0;
    z-index: 12;
    background: white;
    box-shadow: 5px 5px black;
    width: 98%;
    margin: auto;
}